
body {
    font-family: Arial, sans-serif;
    background-color: gray;
}

h1 {
    color: black;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: black;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid wheat;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type="submit"] {
    background-color: rgb(7, 7, 53);
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(56, 56, 229);
}
